<div id="<%= dom_id player %>">
  <p>
    <strong>Team:</strong>
    <%= player.team_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= player.number %>
  </p>

</div>
